/* Add Recipe Page */
.header {
    gap: 3rem;
    margin: 6rem auto 2rem auto;
    width: 90%;
    max-width: 75rem;
    color:var(--breeze);
    font-size: 1.5rem;
  }
  
  .header h1 {
    font-family: 'Montserrat', sans-serif;
  }
  
  
  .main {
    width: 90%;
    max-width: 75rem;
    margin: 3rem auto;
  }
  
  .form {
    max-width: 50rem;
  }
   
  .row {
    display: flex;
    gap: 1rem;
  }
  
  .row p {
    width: 100%;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    border: 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font: inherit;
    font-size: 1.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  