.navlist {
  display: inline-flex;
  list-style: none;
  gap: 1.5rem;
  justify-content: space-between;
  font-size: 1.25rem;
  text-decoration: none;
}

.navlistitem:not(:first-child):before {
  content: "|";
  color: aliceblue;
  margin-right: 1.5rem;
}

.active {
  background: linear-gradient(90deg, var(--bright-sky), var(--pink-lemonade));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
